* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

body{
    width: 100%;
    background-color: #ffffff;
}
.container{
    margin: 20px auto;
    width: 800px;
    height: 1100px;
    box-shadow: 10px 10px 40px -1px rgba(0, 0, 0, 0.23);
}

header{
    width: 800px;
    height: 350px;
    padding: 10px 0;
    position: absolute;
    top:80px;
    background-color: white;
}

header img{
    float:left;
}
header h1{
    margin: 0;
    position: absolute;
    top:50px;
    left: 40%;
    font-size:90px;
    font-weight: 700;
    letter-spacing: 3px;
}
header span{
    position: absolute;
    top:250px;
    left:54%;
    font-size: 30px;
}
aside, main{
    height: 90%;
    padding-top: 50%;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 20px;
}

aside{
    float: left;
    width: 30%;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #f5c8b3;/* #D6E5E3 */
}
main{
    margin-left: 30%;
    
}

section{
    margin-top:20px;
}
section ul{
    list-style:none;
    margin:0;
    padding: 0;
}
section li{
    padding-left:10px;
    font-size: 26px;
}

section li:before{
    content: '';
    display: inline-block;
    height:16px;
    width: 16px;
    /* vertical-align: middle; */
    background-color:#000;
    margin-right:15px;
  }
section p{
    margin-left:27px;
    padding-left:21px;
    border-left: grey 1px solid;
}

p.code{
   font-size: 10px;
}
footer{
 
}