* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

body{
    width: 100%;
    background-color: #ffffff;
}
.container{
    margin: 20px auto;
    width: 800px;
    height: 1100px;
    box-shadow: 10px 10px 40px -1px rgba(0, 0, 0, 0.23);
}

header{
    width: 800px;
    height: 350px;
    padding: 10px 0;
    position: absolute;
    top:80px;
    background-color: white;
}

header img{
    float:left;
}
header h1{
    margin: 0;
    position: absolute;
    top:50px;
    left: 40%;
    font-size:90px;
    font-weight: 700;
    letter-spacing: 3px;
}
header span{
    position: absolute;
    top:250px;
    left:54%;
    font-size: 30px;
}
aside, main{
    height: 90%;
    padding-top: 55%;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 20px;
}

aside{
    float: left;
    width: 30%;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #f5c8b3;/* #D6E5E3 */
}
main{
    width: 70%;
}
footer{
 
}