
@font-face {
    font-family: "Montserrat"; 
    src: url(fonts/Montserrat/Montserrat-Bold.ttf) format('truetype'); 
    font-weight: 700;
}
@font-face {
    font-family: "Montserrat"; 
    src: url(fonts/Montserrat/Montserrat-SemiBold.ttf) format('truetype'); 
    font-weight: 600;
}
@font-face {
    font-family: "Montserrat"; 
    src: url(fonts/Montserrat/Montserrat-Medium.ttf) format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: "Montserrat"; 
    src: url(fonts/Montserrat/Montserrat-Regular.ttf) format('truetype'); 
    font-weight: 400;
}
@font-face {
    font-family: "Montserrat"; 
    src: url(fonts/Montserrat/Montserrat-Thin.ttf) format('truetype'); 
    font-weight: 300;
}

@font-face {
    font-family: Bebas; /* Имя шрифта */
    src: url(fonts/Bebas_Neue/BebasNeue-Regular.ttf); /* Путь к файлу со шрифтом */
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

body{
    width: 100%;
    background-color: #ffffff;
    font-family: Montserrat;
}
.container{
    margin: 20px auto;
    width: 800px;
    height: 1100px;
    box-shadow: 10px 10px 40px -1px rgba(0, 0, 0, 0.23);
}

header{
    width: 800px;
    height: 350px;
    padding: 10px 0;
    position: absolute;
    top:80px;
    background-color: white;
}

header img{
    float:left;
}
header h1{
    margin: 0;
    width: 400px;
    position: absolute;
    top:90px;
    left: 47.2%;
    color: #1B1C19;
    font-family: Bebas;
    font-size:100px;
    font-weight: 400;
    line-height: 80px;
}
header>span{
    position: absolute;
    top:250px;
    left:58%;
    font-size: 19px;
    color: #555555;
}

h2, h3{
    text-transform: uppercase;
    font-weight:700;
    font-size: 18px;
}

aside, main{
    height: 95%;
    padding-top: 53%;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 16px;
    line-height: 21px;
    color: #272727;
}

aside{
    float: left;
    width: 30%;
    margin-left: 20px;
    margin-right: 20px;
    background:linear-gradient(to bottom, #f5c8b3, #fde7ae); /* #f5c8b3 */
}

article.education{
  padding-top: 7px;
}

.contacts, .skills{
    margin-top:30px;
}

.skills p{
    padding:0;
    margin:0;
    cursor: pointer;
}

.skills p:hover{
    color:#b68f7d;
    padding-left: 15px;
}
.transition {
    transition: 0.5s;
  }
.contacts p{
    margin-top: 5px;
  margin-bottom: 0px;
}
.contacts a{
    color: #272727;
    text-decoration: none;
}

.contacts a:hover{
    color: #b68f7d;
}
main{
    margin-left: 31%;
    padding-right: 50px;
}

section{
    margin-top:20px;
}
section ul{
    list-style:none;
    margin:0;
    padding: 0;
}
section li{
    padding-left:23px;
}

section li:before{
    content: '';
    display: inline-block;
    height:12px;
    width: 12px;
    /* vertical-align: middle; */
    background-color:#000;
    margin-right:27px; /* расстояние до названия  */
  }
section p{
    margin-left:28px;
    padding-left:32px;
    border-left: grey 1px solid;
}

p.code{
   font-size: 14px;
}

footer{
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#4f4f4f;
    background-color: #fde7ae;
    border-radius: 5% 5% 0 0 ;
}

footer a {
    text-decoration: none;
    color: #4f4f4f;
    padding-left: 20px;
    padding-right: 20px;
}

footer a:hover{
    color: #b68f7d;
}

footer .github-icon {
    margin-right: 10px;
}

.github {
    display: flex;
    align-items: center;
  }