
@font-face {
    font-family: "Montserrat"; 
    src: url(fonts/Montserrat/Montserrat-Bold.ttf) format('truetype'); 
    font-weight: 700;
}
@font-face {
    font-family: "Montserrat"; 
    src: url(fonts/Montserrat/Montserrat-SemiBold.ttf) format('truetype'); 
    font-weight: 600;
}
@font-face {
    font-family: "Montserrat"; 
    src: url(fonts/Montserrat/Montserrat-Medium.ttf) format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: "Montserrat"; 
    src: url(fonts/Montserrat/Montserrat-Regular.ttf) format('truetype'); 
    font-weight: 400;
}
@font-face {
    font-family: "Montserrat"; 
    src: url(fonts/Montserrat/Montserrat-Thin.ttf) format('truetype'); 
    font-weight: 300;
}

@font-face {
    font-family: Bebas; /* Имя шрифта */
    src: url(fonts/Bebas_Neue/BebasNeue-Regular.ttf); /* Путь к файлу со шрифтом */
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

body{
    width: 100%;
    background-color: #ffffff;
    font-family: Montserrat;
}
.container{
    margin: 20px auto;
    width: 800px;
    height: 1100px;
    box-shadow: 10px 10px 40px -1px rgba(0, 0, 0, 0.23);
}

header{
    width: 800px;
    height: 350px;
    padding: 10px 0;
    position: absolute;
    top:80px;
    background-color: white;
}

header img{
    float:left;
}

header h1{
    margin: 0;
    width: 400px;
    position: absolute;
    top:90px;
    left: 47.2%;
    color: #1B1C19;
    font-family: Bebas;
    font-size:100px;
    font-weight: 400;
    line-height: 80px;
}

header>span{
    position: absolute;
    top:250px;
    left:58%;
    font-size: 19px;
    color: #555555;
}

h2,
h3{
    text-transform: uppercase;
    font-weight:700;
    font-size: 18px;
}

aside,
main{
    height: 95%;
    padding-top: 52%;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 16px;
    line-height: 21px;
    color: #272727;
}

aside{
    float: left;
    width: 30%;
    margin-left: 20px;
    background:linear-gradient(to bottom, #f5c8b3, #fde7ae); /* #f5c8b3 */
}

.education{
  padding-top: 8px;
}

.education p:last-child{
    font-size: 14px;
    padding-left: 10px;
    margin: 0;
}

.contacts, 
.skills{
    margin-top:30px;
}

h2 ~ ul{
    padding:0;
    margin:0;
    list-style-type:none;
    cursor:default;
}

.skills p{
    padding:0;
    margin:0;
    cursor:default;
}

.skills li:hover{
    color:#b68f7d;
    padding-left: 15px;
}

.transition>li {
    transition: 0.5s;
}

.theory{
    padding-left: 10px;
}

.contacts p{
    margin-top: 5px;
  margin-bottom: 0px;
}

.contacts a{
    color: #272727;
    text-decoration: none;
}

.contacts a:hover{
    color: #b68f7d;
}

main{
    margin-left: 30%;
    padding-right: 50px;
}

section{
    margin-top:20px;
}

section h3,section p{
    padding-left: 30px;
}

section h3{
    border-bottom:  2px solid;
}

.me {
    margin-right: 310px;
    border-color: #F9D5B3;
}

.english{
    margin-right: 320px;
    border-color: #FBDFB2;
}

.code-title{
    margin-right: 260px;
    border-color: #FBE0B2;
}

p.code{
   font-size: 14px;
}


pre code.hljs {
    display: block;
    overflow-x:auto;
    white-space:nowrap;
    padding-left:40px;
}

/*!
  Theme: An Old Hope – Star Wars Syntax
  Author: (c) Gustavo Costa <gusbemacbe@gmail.com>
  Maintainer: @gusbemacbe

  Original theme - Ocean Dark Theme – by https://github.com/gavsiu
  Based on Jesse Leite's Atom syntax theme 'An Old Hope'
    https://github.com/JesseLeite/an-old-hope-syntax-atom
*/

.hljs {
    background: #ffffff;
    height: 150px;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    color:#c0c5ce
}

.hljs-comment, .hljs-quote {
    color:#b6b18b
}

.hljs-deletion, .hljs-name, .hljs-regexp, .hljs-selector-class, .hljs-selector-id, .hljs-tag, .hljs-template-variable, .hljs-variable {
    color:#eb3c54
}

.hljs-built_in, .hljs-link, .hljs-literal, .hljs-meta, .hljs-number, .hljs-params, .hljs-type {
    color:#e7ce56
}

.hljs-attribute {
    color:#ee7c2b
}

.hljs-addition, .hljs-bullet, .hljs-string, .hljs-symbol {
    color:#4fb4d7
}

.hljs-section, .hljs-title {
    color:#78bb65
}

.hljs-keyword, .hljs-selector-tag {
    color:#b45ea4
}

.hljs-emphasis {
    font-style:italic
}

.hljs-strong {
    font-weight: 700
}



footer{
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#4f4f4f;
    background-color: #fde7ae;
    border-radius: 5% 5% 0 0 ;
}

footer a {
    text-decoration: none;
    color: #4f4f4f;
    padding-left: 20px;
    padding-right: 20px;
}

footer a:hover{
    color: #b68f7d;
}

footer .github-icon {
    margin-right: 10px;
}

.github {
    display: flex;
    align-items: center;
  }