@font-face {
    font-family: Roboto;
    src: url("assets/fonts/Roboto/Roboto-Thin.ttf");
    font-weight: 100;
}
  @font-face {
    font-family: Roboto;
    src: url("assets/fonts/Roboto/Roboto-Light.ttf");
    font-weight: 300;
}
  @font-face {
    font-family: Roboto;
    src: url("assets/fonts/Roboto/Roboto-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: Forum;
    src: url("assets/fonts/Forum/Forum-Regular.ttf");
    font-weight: 300;
}

:root {
    --bg-dark: #030303;
    --dark-red: #710707;
    --font-gold: #9d8665;
    --font80: 80px;
    --font32: 32px;
    --font28: 28px;
    --font22: 22px;
    --font18: 18px;
}

html{
    scroll-behavior:smooth;
}

body{
    margin: 0;
}

a{
    text-decoration: none; 
    color: black;
}

.a-dark{
    color:white;
}

li{
    list-style: none;
}

h2{
    margin:0;
    text-transform: uppercase;
    color:var(--font-gold);
    font-size: var(--font80);
    font-family: Forum;
    font-weight: 100;
    letter-spacing: 5px;
    
}

.container{
    margin: 0 auto;
    max-width: 1440px;
}

header{
    max-height: 150px;
    height:100%;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo-icon{
    width: 49px;
    height: 26px;
    background-image: url(./assets/svg/logo-icon.svg);
    margin-right: 25px;
    align-self: flex-start;
}

.logo-text{
    font-size: var(--font28);
    font-family: Forum;
    font-weight: 100;
}
.menu{
    height: 26px;
    max-width: 775px;
    width: 100%;
    padding-top: 62px;
    padding-bottom: 62px;
    font-size: var(--font22);
    font-family: Roboto;
    font-weight:100;
    letter-spacing: 2px;
}

.menu ul{
    margin:0;
    padding:0;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.menu li{
    padding-left: 10px;
}

li.visiting-item{
    padding-left: 0;
}

.underlineH2{
    margin-bottom: 75px;
    padding-bottom: 25px;
    border-bottom: var(--dark-red) 3px solid;
}

section {
    padding-top: 75px;
    padding-bottom: 75px;
}

.dark-section{
    background-color: var(--bg-dark); 
    color: white;
}

.dark-section h2{
    color:white;
}

.video-section{
    padding-top: 90px;
}

.welcome-section{
    padding: 0;
}
.welcome-block{
    height: 810px;
    background-image: url(./assets/img/welcome-slider/1.jpg);
    background-repeat: no-repeat;
    background-position: 100% 0;
    font-size: var(--font28);
    font-family: Roboto;
}

.welcome-block h2{
    margin:0;
    padding-top: 150px;
    line-height: 90px;
}

.welcome-info{
    height: 100%;
    width: 55%;
    background: linear-gradient(to right, var(--bg-dark)56%, #03030300 );
    letter-spacing: 2px;
}

.discover-button{
    height: 75px;
    width: 360px;
    margin-top: 75px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-red);
    border-radius: 10px;
    font-size: var(--font22);
    letter-spacing: 2px;
}

.discover-button:hover{
    background-color: var(--font-gold);
}

.visiting-cards{
    max-width: 1440px;
    display:flex;
    flex-wrap: wrap;
    row-gap: 75px;
    column-gap: 60px;
}


.visiting h3{
    text-transform: uppercase;
    margin: 0;
    margin-top:20px;
    padding: 0;
    position: relative;
    font-size: var(--font32);
    font-family: Forum;
    letter-spacing: 5px;
}

.visiting h3::after{
    content: "";
    position: absolute;
    top: 44px;
    left: 0;
    width: 300px;
    height: 2px;
    background-color: var(--dark-red);
    transition: 0.8s;
}

.card{
    display: block;
    width: 440px;
    height: 424px;
    font-family: Roboto;
    font-weight: 100;
    font-size: var(--font18);
    transition: 0.8s;
}

.card:hover{
    transform: scale(1.05);
}

.card:hover h3{
    color:var(--font-gold);
}
.card:hover h3::after{
    width: 100%;
}

.v-tour-small{
    margin:0;
    line-height: 21px;
}
.v-tour{
    margin: 21px 0 10px 0;
    font-size: var(--font22);
    line-height: 26px;
}

.explore-block{
    max-width: 1440px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* row-gap: 62px;
    column-gap: 60px; */
}
.explore-info{
    display: block;
    height: 515px;
    width: 660px;
    min-width: 660px;
    padding-right: 60px;
    font-size: var(--font22);
    font-family: Roboto;
    font-weight:100;
    line-height: 38px;
}
.explore-info h2{
    line-height: 90px;
}
.explore-info p{
    margin-top:25px;
}
.yellow{
    color: var(--font-gold);
}
.explore-img{
   display:block;
   height: 700px;
    width: 720px;
    padding-top: 10px;
}

.tickets-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticket-form{
    width: 100%;
}
.ticket-type{
}

.rb-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: var(--font22);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rb-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.rb-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.rb-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.rb-container input:checked ~ .checkmark:after {
    display: block;
}

.rb-container .checkmark:after {
    top: 9px;
   left: 9px;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background: white;
}